<launch>

  <arg name="map_file" default=""/>

  <arg name="rosbag" default="false"/>
  <arg name="rosbag_rate" default="1.0"/>
  <arg name="rosbag_filename" default=""/>
  

<!-- mapをmap_server -->
  <group>
    <node name="map_server_node" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
  </group>

<!-- rosbagを再生 -->
  <group if="$(arg rosbag)">
      <arg name="rate"          value="$(arg rosbag_rate)"/>
      <arg name="bag_filename"  value="$(arg rosbag_filename)"/>

      <node name="playbag" pkg="rosbag" type="play" 
            args="$(arg rosbag_filename) --clock -r $(arg rosbag_rate)"/>
  </group>


  <node name="making_envir_cloud" pkg="road_surface_recognition" type="making_environmental_pointcloud">
    <param name="coefficient_x2" type="double" value="72.66"/>
    <param name="coefficient_x" type="double" value="-1190"/>
    <param name="coefficient_0" type="double" value="5801"/>
  </node>

  <node name="reflection_intensity_mapping_node" pkg="road_surface_recognition" type="reflection_intensity_mapping_node" output="screen">
  <!-- ファイルの保存に使用 -->
    <param name="map_file_path"  type="string" value="$(arg map_file)"/>
  </node>
</launch>
